.vs/RiotClient/FileContentIndex/a1696ad1-f3a4-4b9d-b7f4-77c853438f37.vsidx
.vs/RiotClient/FileContentIndex/read.lock
.vs/RiotClient/v17/.suo
RiotClient/bin/Debug/RiotClient.exe
RiotClient/bin/Debug/RiotClient.exe.config
RiotClient/bin/Debug/RiotClient.pdb
RiotClient/obj/Debug/MainWindow.baml
RiotClient/obj/Debug/RiotClient.csproj.CoreCompileInputs.cache
RiotClient/obj/Debug/RiotClient.csproj.FileListAbsolute.txt
RiotClient/obj/Debug/RiotClient.exe
RiotClient/obj/Debug/RiotClient.g.resources
RiotClient/obj/Debug/RiotClient.pdb
RiotClient/obj/Debug/RiotClient_MarkupCompile.cache
RiotClient/obj/Debug/RiotClient_MarkupCompile.lref
RiotClient/obj/Debug/CustomControl/WatermarkTextBox.baml
RiotClient/obj/Debug/GeneratedInternalTypeHelper.g.cs
